.upload-box-root {
  height: 100%;
  width: 100%;
  background-color: #e2e2e2;
  border: 1px solid #000000;
  padding-top: 40px;
  padding-bottom: 40px;
}

.upload-vspacing-10 {
  padding-top: 10px;
  width: 100%;
  display: inline-flex;
}

.upload-box-icon {
  height: 128px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.upload-box-full-width {
  width: 100%;
  display: inline-flex;
  align-content: center;
  align-items: center;
}

.upload-box-center-bar {
  height: 28px;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.upload-box-line {
  width: 110px;
  height: 2px;
  background-color: #0d0d0d;
  margin-top: 15px;
  display: inline-flex;
}

.upload-box-left {
  align-self: flex-start;
  float: left;
  margin-left: 32px;
}

.upload-box-right {
  align-self: flex-end;
  float: right;
  margin-right: 32px;
}

.upload-box-text-30 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: rgba(13, 13, 13, 0.5);
}

.upload-box-text-20 {
  font-size: 20px;
  color: #000000;
}

.upload-text-center {
  text-align: center;
}
