.result-box-root {
  height: 100%;
  width: 100%;
  background-color: #e2e2e2;
  border: 1px solid #000000;
  padding-top: 50px;
  padding-bottom: 50px;
}

.result-vspacing-10 {
  padding-top: 10px;
  width: 100%;
  display: inline-flex
}

.result-box-icon {
  height: 128px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.result-box-full-width {
  width: 100%;
  display: inline-flex;
  align-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.result-box-text-30 {
  width: 100%;
  text-align: center;
  vertical-align: top;
  font-size: 30px;
  font-family: Lato;
  line-height: auto;
  color: rgba(13, 13, 13, 0.5);
}

.result-box-center-bar {
  height: 28px;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flexbox;
  padding-bottom: 40px;
  align-content: center;
  align-items: center;
}

.result-box-line {
  width: 110px;
  height: 2px;
  background-color: #0d0d0d;
  margin-top: -10px;
  margin-bottom: 0px;
  padding: 0px;
  display: inline-flex;
}

.result-box-left {
  align-self: flex-start;
  float: left;
  margin-left: 32px;
}

.result-box-right {
  align-self: flex-end;
  float: right;
  margin-right: 32px;
}

.result-progress-bar {
  padding-left: 28px;
  padding-bottom: 64px;
}

.result-box-rectangle-3-5 {
  border-radius: 20px;
  height: 28px;
  width: 314px;
  background-color: rgba(196, 196, 196, 0);
  border: 1px solid #000000;
  display: block;
}

.result-box-rectangle-3-6 {
  border-radius: 20px 0px 0px 20px;
  height: 28px;
  width: 171px;
  background-color: rgba(28, 116, 151, 0.25);
  display: block;
  margin-top: -28px;
}

.result-box-text-20 {
  vertical-align: top;
  font-size: 20px;
  font-family: Lato;
  line-height: auto;
  color: #000000;
  margin-top: -28px;
  padding: 0px;
}

.result-text-center {
  text-align: center;
}

.result-text-after {
  text-align: right;
  margin-right: -28px;
}