/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item+.accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

.accordion__button {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

.accordion__button:hover {
    background-color: #ddd;
}

/*This is the drop down icon*/
.accordion__button:after {
    content: '';
    height: 15px;
    width: 15px;
    border-bottom: 3px solid currentColor;
    border-right: 3px solid currentColor;
    transform: rotate(45deg);
    display: block;
    float: right;
    margin-top: 6px;
}

.accordion__button[aria-expanded='true'] {
    background-color: #ddd;
}

.accordion__button[aria-expanded='true']::after,
.accordion__button[aria-selected='true']::after {
    transform: rotate(-135deg);
    margin-top: 13px;
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
    background-color: #f4f4f4;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}