.upload-div-group-white {
  flex-wrap: wrap;

  background-color: #f2f2f2;
  padding: 50px;
  border-radius: 10px;
  width: 100%;
}

.next-button-align-right {
  float: right;
}

.black-text {
  color: #0d0d0d;
}

hr {
  width: 50%;
}
