.nav-container {
    padding: 10px 0px 10px 0px;
    background-color: #0d0d0d;
    z-index: 2;
    border-bottom: .2px solid #FFF;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 0 0.75rem rgb(0, 0, 0);
}

.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-bar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}


/* .btn-hover.color-5 { */
/*     box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75); */
/* } */
