// sets

table{
    width:100%;
    table-layout: fixed;
}

/* .tbl-header{ */
/*     background-color: #888; */
/* } */
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid #000;
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

tr {
    border: 1px solid rgba(255, 255,255,0.1);
}

td{

    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #000;
    border-bottom: solid 1px rgba(255,255,255,0.3);
}
