.hero {
    height: 98vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./hero.jpg");
    background-position: left;
    background-repeat: no-repeat;
}

.hero-text {
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
}


.landing_button {
    font-size: 30px;
    cursor: pointer;
    background: #1e90ff;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 24px;
}

.landing_button: hover {
    box-shadow: 2px 2px 12px #000;
}
