body {
    background: #BFBFBF;
}

.main {
    z-index: 1;
    height: 98vh;
    background: #BFBFBF;
    background-size: cover;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./hero.jpg"); */
    background-position: left;
    background-repeat: no-repeat;
    perspective: 300px;
}

.hero {
    position: absolute;
    top: 45vh;
    left: -2%;
    width: 104%;
    height: 98vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./hero.jpg");
    background-position: left;
    background-repeat: no-repeat;
    filter: blur(.2em);
}

.hero-text {
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
}


.landing_button {
    font-size: 30px;
cursor: pointer;
    background: #1e90ff;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 24px;
}

.landing_button: hover {
    box-shadow: 2px 2px 12px #000;
}

.parallax-group.focus-pieces {
    z-index: 0;
}
/* Remember that the .layer-1 child will have this transform */
.parallax-layer.foreground.layer-1 {
    transform: translateZ(100px) scale(1);
}

.parallax-layer.layer-1 {
    transform: translateZ(100px) scale(1);
}
.parallax-layer.layer-2 {
    transform: translateY(100px) scale(1);
}
.parallax-layer.layer-3 {
    transform: translateZ(100px) scale(.5);
}
