body {
    background: #2F2F2F !important;
}

.main {
    position: absolute;
    z-index: 1;
    height: 100vh;
    background: #2F2F2F;
    box-shadow: 2px 2px 18px #111;
    /* border-bottom: 3px solid #888; */
}

.layer-1 {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
}


.layer-2 {
    z-index: 2;
    top: 145%;
    width: 100%
}

.layer-3 {
    z-index: 2;
    top: 245%;
    width: 100%;
    background: #000;
}


.layer-4 {
    z-index: 2;
    top: 365%;
    width: 101%
}

.wrap-carousel {
    width: 60vw;
    height: 40vw;
    overflow: hidden;
}


.main-carousel {
    border-radius: 14px;
    /* background: #FFF; */
    height: 20vw;
}

.main-screenshots {
    position: relative;
    width: 12vw;
    height: 20vw;
    border-radius: 0.3vw;
    border: 1px solid #888;
    background: #888;
    margin-left: 16px;
}

.hero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 260vw;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://w.wallhaven.cc/full/od/wallhaven-odg719.jpg");
    background-position: left;
    background-repeat: repeat-y; /* Repeat only veriticallay stretch horizontally */
    background-size: 100% auto;
    filter: blur(0.1em);
}

.hero-text {
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
}


.landing_button {
    font-size: 30px;
    font-size: 2vw;
    background: #AA6DA3;
    width: 20vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 24px;
    border-radius: 1.7vw;
    transition: box-shadow 0.5s ease-in, background 0.2s ease-in;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

.landing_button:hover {
    box-shadow: 2px 2px 12px #000;
    background: rgba(170, 109, 163, 0.85) !important;
}

.landing_button:focus {
    box-shadow: 0 !important;
}

.main-txt{
    width: 35vw;
    color: white;
    font-weight: 500;
    font-size: 28px;
    font-size: 1.7vw;
}

#graphics_1 {
    width: 47vw;
    height: auto;

}

#graphics_2 {
    background-repeat: no-repeat;
    background-image: url("https://clipground.com/images/google-pixel-frame-png-5.png");
    background-size:100% 100%;
    width: 22vw;
    height: 45vw;
}

#graphics_3 {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('./BXER.png');
    background-size:100% 100%;
    width: 21vw;
    height: 20vw;
    left: 70vw;
}

#nest_graphics_2 {
    position: absolute;
    margin-right: 0.2vw;
    margin-top: 2.9vw;
    width: 19.5vw;
    height: 41.3vw;
    border-radius: 1.5vw;
}


#nest_graphics_3 {
    position: absolute;
    margin-right: 0.2vw;
    margin-top: 2.9vw;
    width: 19.5vw;
    height: 41.3vw;
    border-radius: 1.5vw;
}

#scroll_down_logo {
    position: fixed;
    width: auto;
    height: 10%;
    top: 89%;
    animation: blink 0.5s infinite linear;
}

@keyframes blink {
    0%   {opacity: 1;}
    50% {opacity: 0.8; top: 90%}
    100%   {opacity: 1;}
}


.main-txt1-c1, .main-txt2-c {
    color: #DDD;
    font-weight: 430;
    font-size: 20px;
    font-size: 1.3vw;
}

#nest_graphics_3, .main-txt1-c1 {
    display: None
}
