.about-img-600-440 {
  height: 440px;
  width: 600px;
}

.about-img-520-380 {
  height: 380px;
  width: 520px;
}

.about-div-mid {
  min-width: 50%;
  width: 50%;
  max-width: 50%;
  align-content: center;
  display: inline-flex;
}