:root {
    --margin: 20vw;
    --darkmode-color: #AA6DA3;
    --button-width: 100px;
    --button-height: 60px;
}

.cust_button {
  color: black !important;
  background: #;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: 5px;
  margin-top: 25px;
  background: var(--darkmode-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  border: 0px;
  /*Safari*/
  -moz-user-select: none;
  /*Firefox*/
}

.cust_button:hover {
  opacity: 0.8;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
}

.cust_button:active {
  -webkit-box-shadow: inset 2px black;
  -moz-box-shadow: inset 2px black;
}

.dots {
    background: 'white';
    width: '100px'
}

.cust_button:disabled {
    opacity: 30%;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.additional-upload-button-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button-margin-left {
    margin-left: var(--margin)
}

.button-margin-right {
    margin-right: var(--margin)
}
