.results-full-width {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
}

.results-div-full {
	min-width: 100%;
	width: 100%;
	max-width: 100%;

	display: inline-flex;
	flex-wrap: wrap;
}

.horizontal-images-card {
	background-color: white;
	height: 400px;
	width: 100%;
	border-radius: 10px;
	padding-top: 15px;
	padding-left: 15px;

	overflow-x: auto;
	white-space: nowrap;
}

.horizontal-scroll-card {
	background: #ffffff;
	box-shadow: "4px 4px 8px #EEAAB";
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 50px;

	height: 400px;
	width: 100%;
}

.horizontal-scroll-internal {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	height: 100%;

	margin-left: 20px;
	margin-right: 20px;
	overflow-x: auto;
}

.report_img {
	width: 200px;
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid black;
}

.carousel-content {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	width: 100%;
	height: 100%;

	padding-left: 15%;
	padding-right: 15%;
}

.carousel-text {
	color: black;
	height: 300px;
	overflow-y: auto;
  padding-left: 20px;
}
